.about--wrapper {

	.buttons{
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}

	.button{
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
	}

	@extend .clearfix;

	width: 95%;
	max-width: 1010px;

	display: block;
	position: relative;

	margin: 0 auto;

	@media (max-width: $baseWidth) {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
}