@import 'compass/css3';
@import 'compass/reset';

@import 'shared/clearfix';
@import 'shared/utils';

@import 'config';
@import 'common';

@import 'header';
@import 'about';
@import 'participates';
@import 'pass';
@import 'initiative';
@import 'down';
@import 'contact';
@import 'footer';
@import 'course';
@import 'modal';

@import 'info';
@import 'faq';
@import 'cities';
@import 'preloader';

[badge]:after {
  background: #EECB3D;
  border-radius: 3px;
  color: #fff;
  content: attr(badge);
  font-size: 9px;
  margin-top: -16px;
  margin-left: -30px;
  min-width: 20px;
  padding: 2px;
  position: absolute;
  text-align: center;
}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #009CDE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px !important;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fff; color: #009CDE}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}