$branco: #ffffff;
$preto: #212529;
$azul: #009cde;
$cinza: #d8d1c9;
$cinza-escuro: #4f4f4f;
$amarelo: #eecb3d;
//
.famigerado_colunas_texto1{
	max-width: 250px;
	margin: 0 60px 0 0;
	padding: 20px;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	background-color: $azul;
	color: $branco;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}
.famigerado_colunas_texto1_borda{
	width: 60px;
	height: 24px;
	background: url(../imagens/borda_texto1.png);
	background-size: 60px 24px;
	position: absolute;
	bottom: -21px;
	right: 0px;
}
.famigerado_colunas_texto2{
	max-width: 250px;
	margin: 0 60px 0 0;
	padding: 20px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	background-color: $cinza;
	color: $branco;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}
.famigerado_colunas_texto2_borda{
	width: 60px;
	height: 24px;
	background: url(../imagens/borda_texto2.png);
	background-size: 60px 24px;
	position: absolute;
	bottom: -21px;
	left: 0px;
}
.famigerado_caixa_share{
	width: auto;
	height: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.famigerado_bt_share{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}
.famigerado_caixa_mapa{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}
.famigerado_caixa_mapa_texto{
	width: calc(50% - 30px - 5px);
	height: auto;
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}
.famigerado_caixa_mapa_mapa{
	width: 50%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
@media only screen and (max-width: 800px) {
	.famigerado_caixa_mapa_texto{
		width: 100%;
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		text-align: center;
	}
	.famigerado_caixa_mapa_mapa{
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
	}
}
#brazil-map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
}
.famigerado_topo{
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
}
.famigerado_topo_caixa{
	width: 50px;
	height: auto;
	display: inline-block;
	cursor: pointer;
}
.famigerado_topo_seta{
	width: 100%;
	height: auto;
	display: block;
}
.famigerado_topo_escrito{
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
	color: $azul;
	font-size: 10px;
	font-weight: bold;
}
/*-- AJUSTES --*/
.include-accordion .accordion .card .card-header.blue h5 button.collapsed{
	background-color: $azul !important;
	color: $branco !important;
	border-radius: 0px !important;
}
.btn-link{
	background-color: $amarelo !important;
	color: $preto !important;
	border-radius: 0px !important;
}
.btn-link:hover{
	background-color: $cinza-escuro !important;
	color: $branco !important;
	border-radius: 0px !important;
}